.notification {
  position: fixed;
  top: 100px;
  right: 20px;
  height: 5.5rem;
  width: 25%;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.6rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  cursor: pointer;
}

.notification h2 {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 5px;
}

.pending {
  background-color: #177cbe;
}

.success {
  background-color: #10be58;
}

.error {
  background-color: #e65035;
}